#custom-scrollbar {
    scrollbar-width: thin !important;
    scrollbar-color: transparent transparent !important;
}

.bomb {

    animation: pulse 1.3s linear infinite;
}

.damaged-player {
    animation: blink 0.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}